<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <%- helmet.title %>
    <%- helmet.meta %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.2/es6-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.2/es6-sham.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAB-GHMxBT6kovQ28i-pyIU-Ippo-IMXA&libraries=places"></script>
    <script src="https://wzrd.in/standalone/es7-shim@latest"></script>
    <link rel="stylesheet" href="<%- assetsPath %>/app.css">
</head>
<body style="font-family: 'Roboto', sans-serif; margin: 0px; font-size: 13px; line-height: 20px;">
<script>window.isomorphicVars = <%- isomorphicVars %></script>
<div id="root"><%- reactOutput %></div>
<script id="preloadedData" type="application/json"><%- preloadedData %></script>
<script src="<%- assetsPath %>/app.js"></script>
</body>
</html>
